<div class="container header-wrapper">
    <a href="/" class="logo">
        <img src="assets/logo.png" alt="Deviny Logo" class="logo-img">
    </a>

    <nav class="nav">
        <a href="/" class="nav-link">Home</a>
        <a href="/#features" class="nav-link">Features</a>
        <a href="/#how-works" class="nav-link">System</a>
        <a href="/about" class="nav-link">About</a>
        <a href="/team" class="nav-link">Team</a>
    </nav>

    <div class="header-actions">
            <a href="/contacts" class="btn btn-primary btn-sm">Contact Us!</a>
        <button class="burger-btn" aria-label="Toggle menu">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</div>